[defaults]
inventory = inventory/aws_ec2.yml
roles_path = Roles
remote_user = ubuntu
host_key_checking = False
interpreter_python = auto_silent
stdout_callback = yaml
timeout = 30
forks = 10

[inventory]
enable_plugins = amazon.aws.aws_ec2
