[defaults]
inventory = inventory/aws_ec2.yml
roles_path = Roles
host_key_checking = False
stdout_callback = default
result_format = yaml
interpreter_python = auto_silent

[inventory]
enable_plugins = amazon.aws.aws_ec2
